* {
  margin: 0;
  padding: 0;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 5%;
}

.heading {
  text-align: center;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding: 1%;
  border: 1px solid #555555;
  border-radius: 3px 3px 0px 0px;
  background: linear-gradient(white, #cccccc);
}

.target-selector {
  align-self: flex-start;
}

.target-goal,
.target-attained {
  align-self:flex-end;
}

.target-wrapper {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  flex-wrap: wrap;
  width: 80%;
  background-color: #aaaaaa;
  margin: 0 auto;
  padding: 1%;
  border-left: 1px solid #555555;
  border-right: 1px solid #555555;
  border-bottom: 1px solid #555555;
  border-radius: 0px 0px 3px 3px;
  text-align: center;
}

.target {
  border: 1px solid #555555;
  background-color: #eeeeee;
  border-radius: 3px;
  align-items: flex-start;
  padding: 2%;
  margin-bottom: 1%;
  margin-right: 1%;
  min-width: 20px;
  max-height: 5%;
}

.target:hover {
  background-color: #9bf442;
}
